.memory__wrap {}
.memory__inner {
    width: 700px;
    height: 700px;
    /* border: 1.5px solid #ff523b; */
    position: absolute;
    left: 300px;
    top: 100px;
    border-radius: 20px;
    /* animation: flicker 1.5s infinite alternate; */
    position: relative;
}
.memory__card .memory__close {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 100;
  transform: translateX(645px);
  padding-top: 10px;
}
.memory__card ul {
    padding: 30px;
}
.memory__card .cards {
    display: flex;
    flex-wrap: wrap;
    background: rgb(128, 47, 0);
    border-radius: 20px;
}
.memory__card .cards li {
    list-style: none;
    width: 150px;
    height: 150px;
    position: relative;
    margin: 5px;
}
.memory__card .cards li img {
    width: 100px;
    height: 100px;
    transform: translate(12%, 12%);
}
.memory__card .cards li .view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    padding: 10%;
    border-radius: 10px;
    transition: all 0.3s;
    transform-style: preserve-3d;
    perspective: 500px;
    background: #ffffff;
    user-select: none;
    pointer-events: none;
}
.memory__card .cards li .front {
    transform: rotateY(0deg);
    background: rgb(255, 149, 87);
    background-position: center;
}
.memory__card .cards li.flip .front {
    transform: rotateY(180deg);
}
.memory__card .cards li .back {
    background: rgb(255, 116, 62);
    transform: rotateY(-180deg);
}
.memory__card .cards li.flip .back {
    transform: rotateY(0deg);
}
.memory__card .cards li.flip.shakeX {
    animation: shakeX all .5s;
}
.memory__card .cards li.flip.shakeY {
    animation: shakeY all .5s;
}

/* 모달 애니메이션 */
.memory__wrap.show {    /* 전체 배경 */
  animation: foldOut 1s ease forwards;
  display: block;
}
.memory__wrap.hide {
  animation: foldIn 1s ease backwards;
  display: none;
}
@keyframes foldOut {
  0%   {transform: scaleX(0) scaleY(0.001);}
  50%  {transform: scaleX(1) scaleY(0.001);}
  100% {transform: scaleX(1) scaleY(1);}
}
@keyframes foldIn {
  0%   {transform: scaleX(1) scaleY(1);}
  50%  {transform: scaleX(1) scaleY(0.001);}
  100% {transform: scaleX(0) scaleY(0.001);}
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem #251E3F,
            inset 0 0 2rem #251E3F,
            0 0 4rem #251E3F,
            inset 0 0 4rem #251E3F;
    }
}

@keyframes shakeX {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  .animate__shakeX {
    animation-name: shakeX;
  }

  @-webkit-keyframes shakeY {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(0, -10px, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(0, 10px, 0);
    }
  }
  @keyframes shakeY {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
}