@import url('https://webfontworld.github.io/score/SCoreDream.css');
.music {
}
.music__wrap {}
.music__inner {
    width: 400px;
    /* backdrop-filter: blur(20px); */
    position: absolute;
    right: 100px;
    top: 100px;
    padding-top: 0;
    padding: 0px;
    /* border-radius: 10px; */
    background: #0e0220;
    border: 2px solid rgb(48, 34, 112);
}
.music__header {
    padding-top: 25px;
    width: 100%;
    height: 24px;
    /* backdrop-filter: blur(20px); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b9c8ff;
    margin-bottom: 10px;
}
.music__header .music__close {
    margin-right: 10px;
}
.music__header h2 {
    /* font-family: "SCoreDream"; */
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
}
.music__contents {
    width: 100%;
}
.music__view {
    padding: 10px;
    display: flex;
    /* backdrop-filter: blur(20px); */
}
.music__view .img {
    width: 30%;
    filter: grayscale(60%);
}
.music__view .img img {
    width: 100px;
}
.music__view .title {
    width: 68.5%;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    flex-direction: column;
    margin-top: 15px;
}
.music__view .title h3 {
    /* font-family: "SCoreDream"; */
    margin-top: 3px;
    font-size: 20px;
    color: rgb(67, 102, 255);
    font-weight: 300;
}
.music__view .title p {
    margin-top: 5px;
    /* font-family: "SCoreDream"; */
    font-size: 14px;
    color: rgb(67, 102, 255);
    font-weight: 300;
}
input[id="volume-control" i] {
    height: 3px;
    width: 100px;
    margin-top: 20px;
    border-radius: 10px;
}

.music__control {
    width: 100%;
    height: 100px;
    padding: 10px;
    padding-top: 0;
    /* backdrop-filter: blur(20px); */
    border-radius: 0 0 10px 10px;
}
.music__control .progress {
    width: 100%;
    height: 6px;
    background: #ffffff30;
    border-radius: 5px;
}
.music__control .progress .bar {
    width: 0%;
    height: inherit;
    border-radius: 5px;
    background: rgb(30, 44, 117);
}
.music__control .progress .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.music__control .progress .timer .current {
    /* font-family: "SCoreDream"; */
    font-size: 14px;
    color: rgb(67, 102, 255);
}
.music__control .progress .timer .duration {
    /* font-family: "SCoreDream"; */
    font-size: 14px;
    color: rgb(67, 102, 255);
}
.music__control .control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.music__control .control .repeat {
    width: 48px;
    height: 48px;
    background-image: url(../img/music/music__icon.svg);
    background-size: cover;
    background-position: -336px 0;
    transform: scale(0.8);
}
.music__control .control .repeat__one {
    width: 48px;
    height: 48px;
    background-image: url(../img/music/music__icon.svg);
    background-size: cover;
    background-position: -288px 0;
    transform: scale(0.8);
}
.music__control .control .shuffle {
    width: 48px;
    height: 48px;
    background-image: url(../img/music/music__icon.svg);
    background-size: cover;
    background-position: -384px 0;
    transform: scale(0.8);
}
.music__control .control .prev {
    width: 48px;
    height: 48px;
    background-image: url(../img/music/music__icon.svg);
    background-size: cover;
    background-position: -96px 0;
    transform: scale(0.8);
}
.music__control .control .next {
    width: 48px;
    height: 48px;
    background-image: url(../img/music/music__icon.svg);
    background-size: cover;
    background-position: -144px 0;
    transform: scale(0.8);
}
.music__control .control .play {
    width: 48px;
    height: 48px;
    background-image: url(../img/music/music__icon.svg);
    background-size: cover;
    background-position: 0 0;
    transform: scale(0.8);
}
.music__control .control .stop {
    width: 48px;
    height: 48px;
    background-image: url(../img/music/music__icon.svg);
    background-size: cover;
    background-position: -48px 0;
    transform: scale(0.8);
}
.music__control .control .list {
    width: 48px;
    height: 48px;
    background-image: url(../img/music/music__icon.svg);
    background-size: cover;
    background-position: -192px 0;
    transform: scale(0.8);
}

.music__footer {
    /* backdrop-filter: blur(20px); */
    padding-top: 0px;
    border-radius: 10px;
}
.music__list {
    padding: 0px 20px 20px 20px;
    display: none;
}
.music__list.show {
    display: block;
}
.music__list.hide {
    display: none;
}
.music__list ul {
    max-height: 200px;
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 10px;
}
.music__list h3 {
    /* font-family: "SCoreDream"; */
    font-size: 16px;
    margin-bottom: 10px;
    border-top: 2px solid #000;
    padding-top: 10px;
    color: rgb(67, 102, 255);
}
.music__list h3 .close {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(../img/music/music__icon.svg);
    background-size: cover;
    background-position: -432px 0;
    transform: scale(0.6);
    float: right;
    margin-top: 5px;
}
.music__list h3 .list {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(../img/music/music__icon.svg);
    background-position: -192px 0;
    background-size: cover;
    transform: scale(0.6);
    margin-right: -5px;
    vertical-align: -18.5px;
}
.music__list li {
    border-bottom: 1px solid rgb(24, 35, 90);
    list-style: none;
    position: relative;
    padding: 10px 0;
}
.music__list li.playing {
    color: #000;
}
.music__list li strong {
    /* font-family: "SCoreDream"; */
    display: block;
    font-size: 16px;
    color: rgb(67, 102, 255);
    font-weight: 500;
}
.music__list li em {
    /* font-family: "SCoreDream"; */
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
    color: rgb(67, 102, 255);
}
.music__list li span {
    /* font-family: "SCoreDream"; */
    position: absolute;
    /* padding-top: 7px; */
    right: 0;
    top: 30px;
    font-size: 12px;
    color: rgb(67, 102, 255);
}

/* 뮤직 모달 애니메이션 */
.music {
    display: none;
}
.music.show {
    animation: foldOut 1s ease forwards;
    display: block;
}
.music.hide {
    animation: foldIn 1s ease backwards;
    display: none;
}
@keyframes foldOut {
    0%   {transform: scaleX(0) scaleY(0.001);}
    50%  {transform: scaleX(1) scaleY(0.001);}
    100% {transform: scaleX(1) scaleY(1);}
}
@keyframes foldIn {
    0%   {transform: scaleX(1) scaleY(1);}
    50%  {transform: scaleX(1) scaleY(0.001);}
    100% {transform: scaleX(0) scaleY(0.001);}
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(30, 44, 117);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 44, 117);
}
