@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Black.eot');
    src: url('ButlerStencil-Black.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-Black.woff2') format('woff2'),
        url('ButlerStencil-Black.woff') format('woff'),
        url('ButlerStencil-Black.ttf') format('truetype'),
        url('ButlerStencil-Black.svg#ButlerStencil-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil.eot');
    src: url('ButlerStencil.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil.woff2') format('woff2'),
        url('ButlerStencil.woff') format('woff'),
        url('ButlerStencil.ttf') format('truetype'),
        url('ButlerStencil.svg#ButlerStencil') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Bold.eot');
    src: url('ButlerStencil-Bold.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-Bold.woff2') format('woff2'),
        url('ButlerStencil-Bold.woff') format('woff'),
        url('ButlerStencil-Bold.ttf') format('truetype'),
        url('ButlerStencil-Bold.svg#ButlerStencil-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Black_1.eot');
    src: url('ButlerStencil-Black_1.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-Black_1.woff2') format('woff2'),
        url('ButlerStencil-Black_1.woff') format('woff'),
        url('ButlerStencil-Black_1.ttf') format('truetype'),
        url('ButlerStencil-Black_1.svg#ButlerStencil-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil_1.eot');
    src: url('ButlerStencil_1.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil_1.woff2') format('woff2'),
        url('ButlerStencil_1.woff') format('woff'),
        url('ButlerStencil_1.ttf') format('truetype'),
        url('ButlerStencil_1.svg#ButlerStencil') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Bold_1.eot');
    src: url('ButlerStencil-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-Bold_1.woff2') format('woff2'),
        url('ButlerStencil-Bold_1.woff') format('woff'),
        url('ButlerStencil-Bold_1.ttf') format('truetype'),
        url('ButlerStencil-Bold_1.svg#ButlerStencil-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-ExtraBold.eot');
    src: url('ButlerStencil-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-ExtraBold.woff2') format('woff2'),
        url('ButlerStencil-ExtraBold.woff') format('woff'),
        url('ButlerStencil-ExtraBold.ttf') format('truetype'),
        url('ButlerStencil-ExtraBold.svg#ButlerStencil-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-UltraLight.eot');
    src: url('ButlerStencil-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-UltraLight.woff2') format('woff2'),
        url('ButlerStencil-UltraLight.woff') format('woff'),
        url('ButlerStencil-UltraLight.ttf') format('truetype'),
        url('ButlerStencil-UltraLight.svg#ButlerStencil-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Medium.eot');
    src: url('ButlerStencil-Medium.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-Medium.woff2') format('woff2'),
        url('ButlerStencil-Medium.woff') format('woff'),
        url('ButlerStencil-Medium.ttf') format('truetype'),
        url('ButlerStencil-Medium.svg#ButlerStencil-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Light.eot');
    src: url('ButlerStencil-Light.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-Light.woff2') format('woff2'),
        url('ButlerStencil-Light.woff') format('woff'),
        url('ButlerStencil-Light.ttf') format('truetype'),
        url('ButlerStencil-Light.svg#ButlerStencil-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Light_1.eot');
    src: url('ButlerStencil-Light_1.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-Light_1.woff2') format('woff2'),
        url('ButlerStencil-Light_1.woff') format('woff'),
        url('ButlerStencil-Light_1.ttf') format('truetype'),
        url('ButlerStencil-Light_1.svg#ButlerStencil-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-ExtraBold_1.eot');
    src: url('ButlerStencil-ExtraBold_1.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-ExtraBold_1.woff2') format('woff2'),
        url('ButlerStencil-ExtraBold_1.woff') format('woff'),
        url('ButlerStencil-ExtraBold_1.ttf') format('truetype'),
        url('ButlerStencil-ExtraBold_1.svg#ButlerStencil-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Medium_1.eot');
    src: url('ButlerStencil-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-Medium_1.woff2') format('woff2'),
        url('ButlerStencil-Medium_1.woff') format('woff'),
        url('ButlerStencil-Medium_1.ttf') format('truetype'),
        url('ButlerStencil-Medium_1.svg#ButlerStencil-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-UltraLight_1.eot');
    src: url('ButlerStencil-UltraLight_1.eot?#iefix') format('embedded-opentype'),
        url('ButlerStencil-UltraLight_1.woff2') format('woff2'),
        url('ButlerStencil-UltraLight_1.woff') format('woff'),
        url('ButlerStencil-UltraLight_1.ttf') format('truetype'),
        url('ButlerStencil-UltraLight_1.svg#ButlerStencil-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

