.tetris__wrap {
    width: 716px;
    height: 756px;
    display: none;
    border-radius: 10px;
    position: fixed;
    top: 9%;
    left: 32%;
    z-index: 9;
}
canvas{
	position:absolute;
	top:0;
	left:0;
}
.tetris__inner {
    width: 360px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    background-image: url(../../assets/img/tetris/tetbg.jpg);
    position: fixed;
}
.tetris__main {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 15.5px;
    position: absolute;
    margin-left: 270px;
}
.tetris__mino {
    position: absolute;
    margin-left: 53px;
    margin-top: 90px;
}
.TminoView {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff30;
}
.TminoView > img {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-left: 8px;
}

.IminoView {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff30;
}
.IminoView > img {
    width: 55px;
    height: 55px;
    margin-left: 2px;
    margin-top: 5px;
}

.OminoView {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff30;
}
.OminoView > img {
    width: 29px;
    height: 29px;
    margin-left: 15px;
    margin-top: 4px;
}

.ZminoView {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff30;
}
.ZminoView > img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

.SminoView {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff30;
}
.SminoView > img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 4px;
}

.JminoView {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff30;
}
.JminoView > img {
    width: 40px;
    height: 40px;
    margin-left: 7px;
    margin-top: 5px;
}

.LminoView {
    padding: 10px;
    border-radius: 10px;
    background: #ffffff30;
}
.LminoView > img {
    width: 40px;
    height: 40px;
    margin-left: 9px;
    margin-top: 5px;
}

.tetris__bg {
    background: #00000080;
    position: absolute;
    width: 700px;
    height: 740px;
    border-radius: 3px;
    z-index: 8;
    bottom: 0.5px;
}
.tetris__bg.hide.show {
	display: block;
}
.tetris__bg.hide {
	display: none;
}
.tetris__loding {
    margin-top: 17px;
    width: 300px;
    height: 300px;
    /* display: flex;
    align-items: flex-end; */
    transform: translate(69.5%,70%);
    z-index: 10;
    position: fixed;
    background: #000;
    border-radius: 20px;
}
.tetris__loding > h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    margin-top: 255px;
    margin-left: 75px;
}
.tetris__close {
    font-size: 24px;
    color: #ccc;
    right: 0;
    margin-top: 17px;
    width: 100px;
    height: 20px;
    text-align: center;
    position: absolute;
    z-index: 9;
}
.tetris__score {
    /* background-image: url(../../assets/img/tetris/score.jpg); */
    /* background: #fff; */
    top: 20%;
    right: 43px;
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
    /* width: 150px;
    height: 150px;
    border: 8px solid #2b2b2b;
    border-radius: 5px; */
    position: absolute;
}
.tetris__score > h2 {
    font-size: 24px;
    color: #2b2b2b;
    text-align: center;
    color: #fff;
    padding-top: 56px;
}
.tetris__over {
    width: 716px;
    height: 740px;
    text-align: center;
    position: absolute;
    background: #00000050;
    backdrop-filter: blur(10px);
    z-index: 2;
    align-items: center;
    display: none;
}
.tetris__over > h2 {
    margin-top: 240px;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}
.tetris__over p {
    font-size: 30px;
    color: #fff;
    margin-bottom: 100px;
}
.tetris__restart h2 {
    font-size: 24px;
    color: #fff;
    text-decoration: underline;
}
.playground {
}
.playground > ul {
    padding: 0;
    align-items: center;
}
.playground > ul > li{
    list-style: none;
}
.playground > ul > li > ul{
    display: flex;
    padding: 0;
}
.playground > ul > li > ul > li{
    list-style: none;
    width: 30px;
    height: 30px;
    border: 1px dashed #000;
}

.tetris__star__bg {
    width: 100px;
    height: 400px;
    background: #fff;
    position: absolute;
    right: 41px;
    bottom: 70px;
}

.Tmino {
    background: #60009B;
    /* border: 8px #6e0870 outset !important; */
}
.Jmino {
    background-color: #074C88;
}
.Zmino {
    background-color: #930023;
}
.Smino {
    background-color: #337600;
}
.Omino {
    background-color: #878200;
}
.Imino {
    background-color: #00759E;
}
.Lmino {
    background-color: #009B76;
}

/* 테트리스 애니메이션 */
.tetris__wrap.show {
    animation: foldOut 1s ease forwards;
    display: block;
  }
  .tetris__wrap.hide {
    animation: foldIn 1s ease backwards;
    display: none;
  }
  @keyframes foldOut {
    0%   {transform: scaleX(0) scaleY(0.001);}
    50%  {transform: scaleX(1) scaleY(0.001);}
    100% {transform: scaleX(1) scaleY(1);}
  }
  @keyframes foldIn {
    0%   {transform: scaleX(1) scaleY(1);}
    50%  {transform: scaleX(1) scaleY(0.001);}
    100% {transform: scaleX(0) scaleY(0.001);}
  }