.tetris__wrap {
    width: 716px;
    height: 756px;
    display: none;
    /* background: rgb(0, 0, 0); */
    border-radius: 10px;
    border: 8px rgb(165, 165, 165) outset !important;
    position: fixed;
    top: 9%;
    left: 32%;
}
canvas{
	position:absolute;
	top:0;
	left:0;
}
.tetris__inner {
    width: 360px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    background-image: url(../../assets/img/tetris/tetbg.jpg);
    position: fixed;
}
.tetris__main {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 13px;
}
.tetris__mino {
    position: absolute;
    margin-left: 43px;
    margin-top: 105px;
}
.TminoView {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff30;
    border: 4px #6e0870 outset !important;
}
.TminoView > img {
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

.IminoView {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff30;
    border: 4px #0f5e7a outset !important;
}
.IminoView > img {
    width: 55px;
    height: 55px;
    margin-left: 2px;
    margin-top: 5px;
}

.OminoView {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff30;
    border: 4px #705f19 outset !important;
}
.OminoView > img {
    width: 29px;
    height: 29px;
    margin-left: 15px;
    margin-top: 4px;
}

.ZminoView {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff30;
    border: 4px #9c000d outset !important;
}
.ZminoView > img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

.SminoView {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #ffffff30;
    border: 4px #39770a outset !important;
}
.SminoView > img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

.JminoView {
    padding: 10px;
    border-radius: 10px;
    background: #ffffff30;
    border: 4px #074c88 outset !important;
}
.JminoView > img {
    width: 40px;
    height: 40px;
    margin-left: 7px;
    margin-top: 5px;
}

.tetris__bg {
    background: #00000080;
    position: absolute;
    width: 700px;
    height: 740px;
    border-radius: 3px;
    z-index: 8;
    bottom: 0.5px;
}
.tetris__bg.hide.show {
	display: block;
}
.tetris__bg.hide {
	display: none;
}
.tetris__loding {
    margin-top: 17px;
    width: 300px;
    height: 300px;
    /* display: flex;
    align-items: flex-end; */
    transform: translate(67%,70%);
    z-index: 10;
    position: fixed;
    background: #000;
    border-radius: 20px;
}
.tetris__loding > h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    margin-top: 255px;
    margin-left: 75px;
}
.tetris__close {
    font-size: 24px;
    color: #ccc;
    transform: translate(600%,-130%);
    width: 100px;
    height: 20px;
    text-align: center;
    position: absolute;
    z-index: 9;
}
.tetris__score {
    /* background-image: url(../../assets/img/tetris/score.jpg); */
    /* background: #fff; */
    top: 20%;
    right: 37px;
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
    /* width: 150px;
    height: 150px;
    border: 8px solid #2b2b2b;
    border-radius: 5px; */
    position: absolute;
}
.tetris__score > h2 {
    font-size: 24px;
    color: #2b2b2b;
    text-align: center;
    color: #fff;
    padding-top: 56px;
}
.tetris__start {}
.tetris__restart {}
.tetris__restart {}
.playground {
}
.playground > ul {
    padding: 0;
    align-items: center;
}
.playground > ul > li{
    list-style: none;
}
.playground > ul > li > ul{
    display: flex;
    padding: 0;
}
.playground > ul > li > ul > li{
    list-style: none;
    width: 30px;
    height: 30px;
    border: 1px dashed #000;
}

.tetris__star__bg {
    width: 100px;
    height: 400px;
    background: #fff;
    position: absolute;
    right: 33px;
    bottom: 65px;
}

.Tmino {
    background: #540057;
    border: 8px #6e0870 outset !important;
}
.Jmino {
    border: 8px #074c88 outset !important;
    background-color: #060058;
}
.Zmino {
    border: 8px #9c000d outset !important;
    background-color: #660008;
}
.Smino {
    border: 8px #39770a outset !important;
    background-color: #2a6100;
}
.Omino {
    border: 8px #705f19 outset !important;
    background-color: #4d4700;
}
.Imino {
    border: 8px #0f5e7a outset !important;
    background-color: #00455e;
}

/* 테트리스 애니메이션 */
.tetris__wrap.show {
    animation: foldOut 1s ease forwards;
    display: block;
  }
  .tetris__wrap.hide {
    animation: foldIn 1s ease backwards;
    display: none;
  }
  @keyframes foldOut {
    0%   {transform: scaleX(0) scaleY(0.001);}
    50%  {transform: scaleX(1) scaleY(0.001);}
    100% {transform: scaleX(1) scaleY(1);}
  }
  @keyframes foldIn {
    0%   {transform: scaleX(1) scaleY(1);}
    50%  {transform: scaleX(1) scaleY(0.001);}
    100% {transform: scaleX(0) scaleY(0.001);}
  }