/* imageType */
.image__inner {
    display: flex;
    justify-content: space-between;
}
.image {
    width: 32%;
    overflow: hidden;
    position: relative;
}
.image__box {}
.image__box img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}
.image__desc {
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    padding: 23px 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    background: #514E6751;
    color: #fff;
    transition: all 0.3s ease-in;
}
.image:hover .image__desc {
    bottom: 0;
}
.image:hover .image__box img {
    transform: scale(1.05);
    transition: all 0.3s ease-in;
}
.img01 .image__desc {background: rgba(235, 77, 74, 0.5);}
.img02 .image__desc {background: rgba(255, 208, 89, 0.5);}
.img03 .image__desc {background: rgba(188, 181, 215, 0.5);}

.img01 .image__desc h3 {color: #6c0506;}
.img02 .image__desc h3 {color: #745a00}
.img03 .image__desc h3 {color: #d0c8ff;}

.img01 .image__desc .more {color: #6c0506;}
.img02 .image__desc .more {color: #745a00}
.img03 .image__desc .more {color: #d0c8ff;}
.image__desc h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.image__desc .more {
    font-size: 16px;
}
.image__desc .more:hover {
    text-decoration: underline;
}